# set font
font pango: Source Code Pro 12px

floating_modifier Mod1

# set bar
bar {
        status_command i3status --config ~/.config/i3/i3status.conf
}

# set wallpaper
exec --no-startup-id /usr/bin/feh --bg-tile /home/castor/snow.gif

# execute surf
exec /usr/bin/surf file:///media/usbdisk/sw/fnordpad/_etc/frame.html

