# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!
#
# This config file uses keycodes (bindsym) and was written for the QWERTY
# layout.
#
# To get a config file with the same key positions, but for your current
# layout, use the i3-config-wizard
#

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below. ISO 10646 = Unicode
font pango: Source Code Pro 12px

# use Mouse+Mod1 to drag floating windows to their wanted position
floating_modifier Mod1

# Default border style for new windows (bn=normal, bp=1px, bb=borderless)
# Expected one of these tokens: 'normal', 'pixel', '1pixel', 'none'
new_window 1pixel

# set bar
bar {
        status_command i3status --config ~/.config/i3/i3status.conf
}

# set wallpaper
exec --no-startup-id /usr/bin/feh --bg-tile /home/castor/snow.gif

# execute surf
exec /usr/bin/surf file:///media/usbdisk/sw/fnordpad/_etc/frame.html
