/*Kein Kommentar*/

@font-face {
    font-family: 'SourceCodeProRegular';
    src: url('/static/fonts/SourceCodePro-Regular-webfont.eot');
    src: url('/static/fonts/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/SourceCodePro-Regular-webfont.woff') format('woff'),
         url('/static/fonts/SourceCodePro-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
/*http://ethanschoonover.com/solarized*/
.red{
    color: #dc322f;
}
.yellow{
    color: #b58900;
}
.orange{
    color: #cb4b16;
}
.magenta{
    color: #d33682;
}
.violet{
    color: #6c71c4;
}
.blue{
    color: #268bd2;
}
.cyan{
    color: #2aa198;
}
.green{
    color: #859900;
}

body{
    background: #000000;
    color: #ffffff;
    font-family: 'SourceCodeProRegular', 'Courier', 'Monaco', sans-serif;
    font-size: 12px;
}

a{
    color: #268bd2;
}

a:hover{
    color: #2aa198;
}

a:visited{
    color: #6c71c4;
}

#main{
    padding: 5px;
    width: auto;
    text-align: center;
}

#sort img, #images img{
    max-width: 95%;
    max-height: 95%;
    margin: 0 auto;
}

#images img{
    display: none;
}

.duplicate{
    overflow: hidden;
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    text-align: left;
    border: 10px solid rgb(255, 255, 255, 0.9);
    border-bottom: 45px rgb(255, 255, 255, 0.9);
    border: 10px solid rgba(255, 255, 255, 0.9);
    border-bottom: 45px solid rgba(255, 255, 255, 0.9);
    margin: 5px;
    color: #000000;
}

.duplicate .text{
    position: absolute;
    bottom: 5px;
    left: 30px;
}

.duplicate:hover{
    color: #ffffff;
}

.duplicate img{
    position: relative;
    width: 600px;
    left: -50px
}

#bar, #message, #vote, #text{
    background: rgb(128,128,128);
    background: rgba(128,128,128,0.8);
    position: fixed;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: left;
}

#bar{
    right: 10px;
    top: 5%;
    bottom: 5%;
    max-width: 125px;
    overflow: hidden;
}

#bar a{
    color: #ffffff;
    text-decoration: none;
}

#bar li{
    padding: 3px 0;
    list-style: none;
    text-align: right;
}

#bar li[title='0']{
    color: #000000;
}

#message{
    left: 10px;
    top: 5%;
}

#text{
    left: 10px;
    bottom: 5%;
}

#vote{
    width: 20%;
    left: 40%;
    bottom: 5%;
    text-align: center;

}

#vote input{
    font-family: 'SourceCodeProRegular', 'Courier', 'Monaco', sans-serif;
    font-size: 1.5em;
    color: #000000;
    background: #ffffff;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;
}

.scroll{
    text-align: left;
    -webkit-marquee: auto medium infinite scroll normal;
    overflow-x: -webkit-marquee;
}

