/*Kein Kommentar*/

@font-face {
    font-family: 'SourceCodeProRegular';
    src: url('/static/fonts/SourceCodePro-Regular-webfont.eot');
    src: url('/static/fonts/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/SourceCodePro-Regular-webfont.woff') format('woff'),
         url('/static/fonts/SourceCodePro-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
/*http://ethanschoonover.com/solarized*/
.red{
    color: #dc322f;
}
.yellow{
    color: #b58900;
}
.orange{
    color: #cb4b16;
}
.magenta{
    color: #d33682;
}
.violet{
    color: #6c71c4;
}
.blue{
    color: #268bd2;
}
.cyan{
    color: #2aa198;
}
.green{
    color: #859900;
}

body{
    background: #000000;
    color: #ffffff;
    font-family: 'SourceCodeProRegular', 'Courier', 'Monaco', sans-serif;
    font-size: 12px;
}

a{
    color: #268bd2;
}

a:hover{
    color: #2aa198;
}

a:visited{
    color: #6c71c4;
}

ul{
    margin: 0 0 1.5em;
}

#main{
    padding: .5em;
}

#sort, #image{
    text-align: center;
}

#sort img, #image img{
    margin: auto;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    max-width: 95%;
    max-height: 95%;
}

#bar, #message, #vote, #shout, .text{
    background: rgb(128,128,128);
    background: rgba(128,128,128,0.8);
    position: fixed;
    padding: 1em .5em;
    border-radius: .5em;
    text-align: left;
}

#bar{
    right: 1%;
    top: 2%;
    bottom: 2%;
    max-width: 12em;
    overflow: hidden;
}

#bar a{
    color: #ffffff;
    text-decoration: none;
}

#bar li{
    padding: .3em 0;
    list-style: none;
    text-align: right;
}

#bar li[title='0']{
    color: #000000;
}

#bar .heading{
    font-size: 1.25em;
    text-decoration: underline;
}

#message{
    left: 1%;
    top: 2%;
}

.text{
    right: 1%;
    bottom: 2%;
}

#shout{
    display: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    bottom: 2%;
    text-align: center;
    font-size: 2.5em;
}

#vote{
    width: 12em;
    right: 1%;
    top: 2%;
    text-align: center;
}

#vote input{
    font-family: 'SourceCodeProRegular', 'Courier', 'Monaco', sans-serif;
    font-size: 1.5em;
    color: #000000;
    background: #ffffff;
    /*width: 12em;*/
    width: 90%;
    border-radius: .5em;
    border: .1em solid #000000;
    margin: .5em 0;
    padding: .5em;
}
