/* fonts */

@font-face {
    font-family: 'SourceCodeProRegular';
    src: url('/static/fonts/SourceCodePro-Regular-webfont.eot');
    src: url('/static/fonts/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/SourceCodePro-Regular-webfont.woff') format('woff'),
         url('/static/fonts/SourceCodePro-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CSS */

body
{
    background: #000000;
    color: #ffffff;
    font-family: 'SourceCodeProRegular', 'Courier', 'Monaco', sans-serif;
    font-size: 12px;
}

a{
    color: #268bd2;
}

a:hover{
    color: #2aa198;
}

a:visited{
    color: #6c71c4;
}

a:visited:hover
{
    color: #2aa198;
}

.sbarleft, .sbarright, .flash, .shout, .sortimages
{
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
}

.main
{
    background: rgb(16,16,16);
    background: rgba(16,16,16,0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.shout
{
    display: none;
}

.sbarleft, .sbarright, .flash, .shout
{
    position: absolute;
    background: rgb(128,128,128);
    background: rgba(128,128,128,0.8);
    overflow: hidden;
}

.flash, .shout
{
    text-align: center;
    left: 16em;
    right: 16em;
}

.flash
{
    top: 1em;
}

.shout
{
    font-size: 4em;
    margin: .25em;
    padding: .25em;
    bottom: .25em;
    left: 4em;
    right: 4em;
    border-radius: .125em;
}

.sbarleft, .sbarright
{
    top: 1em;
    bottom: 1em;
    width: 12em;
    margin: 1em;
}

.sbarleft
{
    left: 1em;
}

.sbarright
{
    right: 1em;
}

.sbarleft .header, .sbarright .header
{
    text-decoration: underline;
    padding: 0 0 .5em 0;
}

.sbarleft ul, .sbarright ul
{
    padding: 0 0 .25em 0;
}

.sbarleft li, .sbarright li
{
    padding: 0 0 .25em 0;
}

.sbarleft li
{
    list-style: none;
    text-align: left;
}

.sbarright li
{
    list-style: none;
    text-align: right;
}

.sbarleft .subli, .sbarright .subli
{
    text-decoration: underline;
}

.currentimage, .sortimages, .sortimage
{
    text-align: center;
}

.sortimages
{
    background: rgb(128,128,128);
    background: rgba(128,128,128,0.8);
    overflow: hidden;
    margin: 1em;
    float: right;
    width: 23em;
    height: 23em;
}

.currentimage img, .sortimage img
{
    position: absolute;
    max-width: 95%;
    max-height: 95%;
}

.sortimages img
{
    position: relative;
    height: 21em;
}

.currentimage img, .sortimages img, .sortimage img
{
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.vote
{
    margin: 1em;
    width: 21em;
}

.vote .plus, .vote .minus
{
    position: relative;
    margin: auto;
    bottom: 1em;
    background: rgb(256,256,256);
    background: rgba(256,256,256,0.8);
    padding: .5em;
    border-radius: .5em;
}
