*/10 * * * * export DISPLAY=:0 && /usr/bin/scrot /media/usbdisk/sw/bone_screen.png >> /dev/null 2>&1

23 10 * * 1-7 /usr/bin/curl -Ss 'http://localhost/crawl/load' >> /media/usbdisk/sw/fnordpad/cron-curl-crawl.log 2>&1
