{% extends 'base.html' %}
{% block content %}

{% if images %}
    <div id="images">
    {% for image in images %}
        <p><a href="{{ url_for('sort', filename=image) }}"><img src="{{ url_for('image', filename=image) }}" alt="{{ image }}" /></a></p>
    {% endfor %}
    </div>
{% endif %}

{% if sort %}
    <div id="sort"><img src="{{ url_for('image', filename=sort) }}" alt="{{ sort }}" /></div>
{% endif %}

{% if duplicates %}
    <p id="text">{{ duplicates }}</p>
{% endif %}

{% if text %}
    <p id="text">{{ text }}</p>
{% endif %}

{% endblock %}
